        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            height: 100vh;
            max-width: 100vw;
        }

        #content {
            height: 100%;
            display: grid;
            grid-template-areas:
                'aviso'
                'header'
                'main'
                'footer';
            grid-template-rows: 20px 51px 1fr 94px;
            grid-template-columns: 1fr;
        }

        #aviso {
            grid-area: aviso;
            font-size: 0.7em;
            margin: auto;
        }

        header {
            grid-area: header;
            padding-right: 10px;
        }

        #linksHeader {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
        }

        #linksHeader a {
            text-decoration: none;
            color: black;
            font-size: 13px;
        }

        #linksHeader a:hover {
            text-decoration: underline;
        }

        #menuHeader {
            height: 75%;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        #menuHeader:hover {
            background-color: #e2e3e3;
            cursor: pointer;
        }

        #buttonLogin {
            width: 94px;
            height: 40px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 60px;
        }

        #buttonLogin:hover {
            cursor: pointer;
            background-color: rgb(0, 0, 224);
        }

        main {
            grid-area: main;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #barraPesquisa {
            height: 52px;
            width: 80%;
            max-width: 584px;
            border-radius: 60px;
            border: 1px solid #dbdce0;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.11);
            display: flex;
            margin-top: 20px;
        }

        #lupaBackground {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        textarea {
            width: 69%;
            min-height: 100%;
            overflow-y: hidden;
            resize: none;
            outline: none;
            border: solid transparent;
            padding-top: auto;
            font-size: 17px;
            padding: 10px;
            background-color: transparent;
        }

        #iconsPesquisabackground {
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            max-height: 100%;
        }

        .icon {
            height: 50%;
        }

        .icon:hover {
            cursor: pointer;
        }

        #botoesMain {
            height: 38px;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 30px;
        }

        .botaoMain {
            height: 100%;
            width: 141px;
            background-color: #f8f9fa;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }

        .botaoMain:hover {
            border-width: 1px 1px 2px 1px;
            border-style: solid;
            border-color: #dbdce0;
            cursor: pointer;
        }

        footer {
            grid-area: footer;
            background-color: #f2f2f2;
            position: fixed;
            bottom: 0;
            height: 94px;
            width: 100%;
        }

        #footerSuperior {
            border-bottom: 1px solid #dbdce0;
            height: 50%;
            display: flex;
            align-items: center;
            padding-left: 30px;
            color: #1f1f1f;
        }

        #footerInferior {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
        }

        #footerInferior p {
            font-size: 0.7em;
            color: gray;
        }

        @media (max-width: 777px) {
            footer {
                height: auto;
            }
        }

        @media (max-width: 609px) {
            #aviso {
                font-size: 0.5em;
            }
        }

        @media (max-width: 491px) {
            #logoGoogle {
                width: 150px;
            }
        }

        @media (max-width: 433px) {

            header,
            main {
                margin-top: 20px;
            }

            #aviso {
                font-size: 0.4em;
            }
        }

        @media (max-width: 390px) {
            #barraPesquisa svg {
                height: 30%;
            }
        }